
.header {
    padding: 5vh;
    width: 100%;
    background-color: var(--header-bg-color);

    display: flex;
    justify-content: space-between;
}

.header > .logo {
    margin-left: 10vw;
}

.header > .links {
    display: flex;
    flex-direction: row;

    color: #626262;
}

.links > div {
    margin-right: 4vw;
    padding-top: 5px;
}