

.blog-posts-container {
    display: flex;
    flex-direction: column;

    margin: 20px 20px;
    max-width: 600px;
}

.blog-posts-container a {
    color: inherit;
    text-decoration: none;
}

.blog-posts-container a:hover {
    text-decoration: underline;
}

.blog-post-title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 8vh;
}

.blog-post-title-section > * + * {
    margin-left: 20px;
}
